





/* <---------------------------------> */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

h1{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-weight: bolder;
}

select{
    display: block;
}
#pokemon-select{
    display: block;
    border: none;
    border-radius: 30px;
    background-color: aqua;
    font-weight: bold;
    color: red;
}

#pokemon-info{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    width: 120px;
    padding: 20px;
    background-color: antiquewhite;
}


